{% extends 'base.html.twig' %}

{% block Title %}location Current{% endblock %}   
{% block body %}
<div class="jumbotron txt-center">
    <div class="container mt-4">
    <h2>editer le bien</h2>  
</div>
</div>
{% endblock %}