{% extends 'base.html.twig' %}

{% block Title %}location Current{% endblock %}   
{% block body %}
<div class="jumbotron txt-center">
    <div class="container">
        <h1>{{property.title}}<h1>
    </div>
</div>
{% endblock %}